---
import Card from '../components/card.astro'
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis servicios</title>
</head>
<body>
    <h1>Servicios</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque odio explicabo magnam sunt non magni repellat quidem in sequi dolorem cum,
       repellendus delectus cumque! Magnam quam expedita culpa sit ratione!
    </p>

    <Card title="Desarrollador" content="full stack web developer"/>
    <Card title="Comunicador" content="texto de prueba"/>
    <Card title="Diseñador" content="texto de prueba"/>
</body>
</html>